src/main/mule/latestcicdsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="add2d9c3-acaf-4769-a187-634d748ad623" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="latestcicdsampleFlow" doc:id="4b86fe06-9a88-4f89-a33b-af8339c0f838" >
		<http:listener doc:name="Listener" doc:id="fee5cd55-c640-45aa-ae44-beedbca67354" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["cicd"]' doc:name="Set Payload" doc:id="59cbc96f-66dc-4c5f-b6b9-83fa7d4e0a43" />
	</flow>
</mule>
